.wrapper {
  max-width: 1065px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  gap: 35px;
  margin-bottom: 1rem;
}

header {
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.header-content {
  display: flex;
  max-width: 1065px;
  margin: 0 auto;
  justify-content: space-between;
}

.change-page {
  display: flex;
  margin: 0 auto;
  width: 260px;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
}

.change-page button {
  font-size: 0.9rem;
  text-align: left;
  color: rgb(79, 122, 214);
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  height: fit-content;
  align-self: center;
}

.button-disabled {
  color: grey;
  cursor: default;
}
